html,body{
  background-color: white;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: blue;
}

.navbar-default{
  background-color: black;
  border-color: black;
  font-size: 15px;
}

.home{
  background-image: url("sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  margin: 0px;
}

.introduction{
  padding-top: 20px;
  text-align: center;
  font-style: italic;
}

.idee-container{
  height: 100vh;
  padding: 20px
}

.circle-box{
  text-align: center;
  border-radius: 200px;
   border: 1px solid black;
   padding: 30px 30px;
   width: 200px;
   height: 200px;
   margin:40px;
}

.rete{
  background-image:url("la-rete.png");
  height: 100vh;
  font-style: italic;
  color: white;
}

.rete>h2{
  padding-left: 30px;
}

.la-rete{
  padding-top: 80px;
  text-align: center;
  font-style: italic;
}

.chi-siamo-container{
  height: 100vh;
  padding-top: 400px;
}
