

html, body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #000000;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
}
h2 {
    font-size: 36px;
    color: #FFFFFF;
}
h3 {
    font-size: 20px;
    color: #FFFFFF;
}
h4{
  font-size: 20px;
  color: white;
}
p {
    color: #FFFFFF;
}
.box {
  text-align: center;
  margin: 300px 0px 0px 0px;
}
.navbar {
  /*contatti into margin*/
  Border: 2px dotted white;
  Padding: 20px;
  Margin: 40px;
  Width: 350px;
  Background-color: black;
}
ul {
  color: #FFFFFF;
}
iframe {
  margin-left: 14cm;
}
.main {
  background-image: url("sfondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0px;
  padding: 130px 0;
}
.introduction{
  margin-left: 1cm;
}
.menu-det{
  display: inline;
}
.concetto{
  color: white;
}
.photobox {
  margin-left: 6cm;
  display: inline;
}

.banner {
  font-family: "Helvetica",sans-serif;
  text-align: center;
}
.exeption{
  color:blue;
}

.img-width {
  width: 100%;
}
