 body {
    font-family: sans-serif;
    margin: 50;
    width: 100%;
    height: 100%;
    background-color: #66CDAA;
}

h1 {
    font-size: 48px;
    color: #FFFFFF;
}

p {
    max-width: 75%;
    color: #FFFFFF;
}
